body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}

header {
    border-bottom: 3px solid black; /* Borda preta */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container img {
    width: 150px; /* Tamanho ajustável do logo */
    margin-bottom: 10px; /* Espaçamento entre o logo e o menu */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: gray; /* Cor de destaque ao passar o mouse */
}

.social-buttons {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-buttons img {
    width: 30px; /* Tamanho do ícone */
}

footer {
    text-align: center;
    padding: 20px;
}

/* Estilos para modo escuro */
.dark-mode {
    background-color: black;
    color: white;
}
