* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black; /* Fundo preto */
    color: white; /* Texto branco */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 0;
}

.logo img {
    width: 50px; /* Ajuste conforme necessário */
}

.menu-icon {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: white; /* Texto branco no menu */
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Justificando o texto à esquerda */
    height: 100vh;
    background-image: url('images/banner.jpg'); /* Caminho da imagem do banner */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    padding-left: 20px; /* Para dar o recuo */
}

.banner h1 {
    font-size: 3em;
    font-weight: bold;
}

.banner p {
    margin-top: 20px;
    font-size: 1.2em;
}

.clients-carousel {
    padding: 20px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
}

.carousel img {
    height: 80px; /* Ajuste conforme necessário */
}

.portfolio {
    padding: 40px 20px;
}

.portfolio-images {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-images img {
    width: 48%; /* Ajuste conforme necessário */
}

.footer-logo {
    text-align: center;
    margin: 40px 0;
}

.footer-logo-img {
    width: 200px; /* Ajuste conforme necessário */
}

footer {
    background-color: #222;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.back-to-top {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.address {
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-text {
    margin-right: 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.social-icons {
    display: none;
    gap: 10px;
}

.social-media-text:hover + .social-icons {
    display: flex;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}
